.card
{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 5% 5%;
    color:#9F9F9F;
}

.cardtitle

{
    text-transform: uppercase;
}



.cardimg
{
    width: 40%;
}


@media only screen and (min-width: 1024px) 

{
    .card
    {
        width: 20%;
    }
}