.log{
    background-image: url(../images/fond-alien.jpg);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position:center;
    background-size:cover;
    width: 100%;
    min-height: 100vh;
}