.login
{
  background-color: white;
  width: 80%;
  margin: 0 auto;
}

.login>form{
  display: flex;
  flex-flow: column nowrap;
}



@media all and (min-width: 480px) {
    .login {
      padding: 60px 0;
    }
  
    .login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }