@font-face {
    font-family: 'Rabbit And Foxes';
    src: url(../../fonts/RabbitsAndFoxes.ttf);
  }
  
  .login
  {
    background-color: white;
    width: 85%;
    padding: 5% 0 10%;
    height: auto;
    margin: 40% auto;
  }
  .login h3{
    font-family: 'Rabbit And Foxes';
    
    font-size: 3.5em;
    text-align: center;
    margin: 0;
  }
  .login form{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
  }
  
  input{
    margin: 10% 0 0;
    padding: 4%;
    border-radius: 10px;
    border: solid 1px #584998;
  }
  
  button{
    margin-top:15%;
    border: none;
    background: none;
  }
  
  .fusee{
  transform: rotate(-90deg) scale(2);
  margin: 2% 0;
  
  }
  
  
  
  
  @media all and (min-width: 480px) {
      .login {
        padding: 60px 0;
      }
    
      .login form {
        margin: 0 auto;
        max-width: 320px;
      }
    }